* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}
.wrapper {
  background-color: #ffffff;
  display: flex;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.about-me-container {
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.tel-mail-sidebar {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
.t-skills-sidebar {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.ul-tech {
  padding-left: 17px;
  color: #ff6b08;
}
.s-skills-sidebar {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.ul-soft {
  padding-left: 17px;
  color: #ff6b08;
}
.contacts-style {
  width: 102px;
  height: 15px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: normal;
}
.c-style {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding-top: 20px;
}
.e-style {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.tel-style {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6e757f;
}
.mailto-style {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6e757f;
}
.tech-style {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.skills-item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.soft-style {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.t-s-style-div {
  padding-top: 5px;
}
.who {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 5px;
}
.my-name {
  color: #000000;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 89px;
}
.text-under-name {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.projects-style {
  width: 93px;
  height: 21px;
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-top: 20px;
}
.projects-li {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.projects-link {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.dots {
  color: #a8a8a8;
  font-weight: 100;
}
.projects-font {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.ol-projects {
  padding-left: 15px;
  padding-top: 10px;
}
.work-ex-style {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-top: 20px;
}
.work-exs {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-top: 15px;
}
.orange-exs {
  color: #ff7010;
}
.time-exs {
  color: #a8a8a8;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.exs-li {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.ul-div-company {
  padding-left: 15px;
}
.arrow {
  color: #000000;
}
.education-style {
  color: #000000;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.ed-place {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.diploma {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  margin-top: 15px;
}
